.lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $color-background;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: auto;
    // visibility: hidden;
    pointer-events: none;
    &__body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 882px;
        min-height: 100%;
        z-index: 10;
    }
    &__content {
        color: $text-footer;
        background-color: rgba(255, 255, 255, 0.9);
        max-width: 800px;
        padding: 20px 20px 20px;
        position: relative;
        border-radius: 4px;
    }
    &__title {
        @include font(500, 26px, 1.14);
        text-align: center;
        margin: 0;
        color: $text-main;
    }
    &__list {
        @include for-size(mobile-only) {
            display: inline;
            margin: auto;
        }
        @include for-size(mobile) {
            display: inline;
            margin: auto;
        }
        @include for-size(tablet) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: normal;
        }
        @include for-size(desktop) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: normal;
        }
    }
    &__fourrowel {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $text-header;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 0px 0px 4px 4px;
        margin-top: 10px;
        padding-left: 10px;
        @include for-size(tablet) {
            margin: 20px 20px 0 0;
            // padding-left: 10px;
            width: calc((100% - 40px) / 2);
            min-height: 100px;
        }
        @include for-size(desktop) {
            margin: 20px 20px 0 0;
            // padding-left: 10px;
            width: calc((100% - 40px) / 2);
            min-height: 100px;
        }
    }
    &__fourrowel:nth-child(even) {
        @include for-size(tablet) {
            margin: 20px 0 0 0;
        }
        @include for-size(desktop) {
            margin: 20px 0 0 0;
        }
    }
    &__button {
        position: absolute;
        top: 8px;
        right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 50%;
        background-color: $text-accent;
        fill: $text-main;
        cursor: pointer;
        outline: none;
        background-position: center;
        background-size: 30%;
        background-repeat: no-repeat;
    }
    &__button:hover {
        transform: rotate(135deg);
    }
    &__img {
        border-radius: 50%;
        border: 2px solid $text-accent;
    }
}

.lightbox.is-open {
    opacity: 1;
    pointer-events: initial;
}

.js-lightbox.is-open .lightbox__list {
    transform: scale(1);
}

.lightbox__button:hover,
.lightbox__button:focus {
    background-color: $color-background;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.sociallinks {
    border-radius: 50%;
    padding: 10px;
    &__icon {
        fill: $text-main;
    }
    &__icon:hover,
    &__icon:focus {
        fill: $color-accent;
    }
}

.comcontent {
    @include font(normal, 16px, 1.16);
    
    margin: 0;
    padding: 10px;
    text-align: left;
    width: 70%;
    &__name {
        color: $text-second;
        margin: 0;
        padding-left: 10px;
        @include for-size(mobile-only) {
            @include font(normal, 14px, 1.14);
        }
        @include for-size(mobile) {
            @include font(normal, 14px, 1.14);
        }
        @include for-size(tablet) {
            @include font(500, 18px, 1.18);
        }
        @include for-size(desktop) {
            @include font(500, 18px, 1.18);
        }
    }
    &__subtitle {
        color: $text-accent;
        padding-left: 10px;
        padding-top: 4px;
        @include for-size(mobile-only) {
            @include font(normal, 12px, 1.12);
        }
        @include for-size(mobile) {
            @include font(normal, 12px, 1.12);
        }
        @include for-size(tablet) {
            @include font(normal, 14px, 1.14);
        }
        @include for-size(desktop) {
            @include font(normal, 14px, 1.14);
        }
    }
}

// анимация
.lightbox__body.slideUpOut {
    animation-name: fade-out;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.lightbox__body.slideUpIn {
    animation-name: fade-in;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}