.back_to_top {
  display: none;
  position: fixed;
  text-align: center;
  right:20px;
  bottom:30px;
  opacity: 0.5;
  cursor: pointer;

   @include for-size(desktop) {
      right: 30px;
      bottom: 145px;
  }

  &:hover {
    opacity: 1;
    transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
}
.back_to_top-show {
  display: block;
}
